
*.obj
*.exe
/.vs
/enc_temp_folder
/obj
*.log
*.tlog
*.pdb
*.recipe
*.iobj
*.ipdb
*.idb
.
/Release/assets
/x64/assets

/Debug/assets
*.ilk
/Debug
/assets
/src/funkin
/src/antilogic
/bin
/Sonic2ReHD/Debug/microsoft
*.o
/build
*.elf
*.nro
*.nacp
/VisualC/.vs
VisualC/Sonic2ReHD.vcxproj.user
/VisualC/x64/Debug/assets
/VisualC/Debug/assets
/VisualC/Release/assets
/VisualC/x64/Release/assets
/Makefiles/build
/logs
/platforms/Makefiles/build
/platforms/VisualC/.vs/Sonic2ReHD
/platforms/VisualC/Debug/assets
platforms/VisualC/Sonic2ReHD.vcxproj.user
/platforms/VisualC/Release/assets
/platforms/VisualC/x64/Debug/assets
/platforms/VisualC/x64/Release/assets
/platforms/VisualC/x64/Release
/platforms/VisualC/x64/Debug
/platforms/VisualC/Release
/platforms/VisualC/Debug
/.vscode
platforms/VisualC/Sonic2ReHD/x64/Release/Sonic2ReHD.vcxproj.FileListAbsolute.txt
platforms/VisualC/Sonic2ReHD/x64/Debug/Sonic2ReHD.vcxproj.FileListAbsolute.txt
/OrcaTools-main
/S2HD-main
/SonicOrca-main
/data
/platforms/VisualC/data
